@import "tailwindcss";

body {
    background-color: #191919;
}

@theme {
    --color-fieldColor: #333333;
    --color-fieldRing: #707070;
    --color-baseColor: #6736cc;
    --color-errorFill: rgba(255, 22, 22, 0.7);
    --color-errorRing: #ff3333;
    --cellWidth: max(calc((85vw - 13 * 0.25rem) / 7), 5rem);
}