@import "tailwindcss";

body {
    background-color: #191919;
}

@theme {
    --color-fieldColor: #333333;
    --color-fieldRing: #707070;
    --color-baseColor: #6736cc;
    --color-errorFill: rgba(255, 22, 22, 0.7);
    --color-errorRing: #ff3333;
    --cellWidth: max(calc((85vw - 13 * 0.25rem) / 7), 5rem);
}

.w-color-sketch {
    --sketch-background: #232323 !important;
    --sketch-box-shadow: #000000 0 0 2px 1px !important;
    --sketch-swatch-border-top: 1px solid #444 !important;
}

.w-color-editable-input {
    --editable-input-color: #eaeaea !important;
    --editable-input-label-color: #9aa0a6 !important;
}